button {

	height: 50px;
	padding-left: 40px;
	padding-top:5px;
	padding-right:40px;
	font-weight: bold;
 }

.butonas:hover {
  	background: black;
 	border: 1px solid white;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container	{
	padding-top: 250px;
	padding-left: 400px;
}



.image-background {
	background:url("https://images.unsplash.com/photo-1516914589923-f105f1535f88?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f412a6ee4af609b0e3f4f85248f2879f&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0,0,0,0.3);
	padding: 0 10%;
}  

.page-title {
 	margin-top: 10px;
	display: inline-block;

}
.navigation {
   	color: white;
}
.menu {
	float: right;
	padding-top: 15px;

}

.menu a {
	color: white;
	text-decoration: none;
	padding-left: 13px;
}

.hero {
	color: #d4d8db;
	padding: 10% 0;
}

.button-primary {
	border-radius:20px; 
	background: #425cbb;
 	color: white;
 	border: 2px solid #425cbb; 
 	font-weight: bold;
 	font-size: 11px;
 	display: inline-block;
 	padding: 12px 35px;
 	transition:all 0.3s ease-in;
}

.button-primary:hover  {
	background: transparent;
	border-color: white;

	
}

.space-bottom {
	margin-bottom: 30px;
}


.middle-text {
	color: #4B4B4C;

}

.column { 
	width: 50%; 
	float: left;
 
}


.middle-title {
	font-weight: bold ;
}

.middle-phrase {
	font-size: 14px;
}

.middle-page {
	padding: 80px 10%;
	color: #9ea0a3;
}




/*
	progress bar
 */

.progress-bar {
	background-color: #f5f5f5;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	overflow: hidden;
	height: 8px;
	width: 100%;
}
.progress-fill {
	float: left;
	width: 0%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	background-color: #425cbb;
}
.progress-header-left {
	float: left;
	display: inline-block;
}
.progress-header-right {
	float: right;
	display: inline-block;
}

.progress {
	margin-bottom: 30px;
}

.title2 {
	margin-top: 0px;
	font-weight: bold;
	color: #333;
}

.first-tile {
	color: #d7dce0;
}

.bars {
	padding-left: 20%;
}

.bottompage-quote {
	text-align: center;
	padding-top: 20%;
	color: #909090;
}

.bottom-title {
	color: #393e42;

}


